@{
    ViewBag.Title = "Главная страница";
}

<!--Содержимое страницы -->
<main class="container">

    <h2>@ViewData["Text"]</h2>

    <h3>Список</h3>
    <ol type="A">
        @for (int i = 1; i < 5; i++)
        {
            <li>элемент @i списка</li>
        }
    </ol>
    <hr />

    <h3>Форма</h3>

    <form method="post">
        <!-- Чекбоксы -->

        <select asp-items="@ViewData["Lst"] as SelectList"></select>

        <div class="form-group row">
            <legend class="col-form-label col-sm-2 pt-0"></legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="gridCheck1" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Чек-бокс 1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="gridCheck2" id="gridCheck2">
                    <label class="form-check-label" for="gridCheck2">
                        Чек-бокс 2
                    </label>
                </div>
            </div>
        </div>

        <!-- Радиокнопки -->
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0"></legend>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Радио-1
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Радио-2
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                        <label class="form-check-label" for="gridRadios3">
                            Радио-3
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Поля ввода -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Логин</label>
            <div class="col-sm-10">
                <!--<input type="email" class="form-control" name="login" id="inputEmail3" placeholder="Введите имя">-->
                <input type="text" class="form-control" name="login" id="inputText3" placeholder="Введите имя">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="inputPassword3" placeholder="Введите пароль">
            </div>
        </div>

        <!-- Кнопка -->
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </form>

</main>